{% extends 'base.html' %}
{% load bootstrap4 %}

{% block extrahead %}
{{block.super}}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBLkJ1gRz6kZflxbqI74k3IEwETD943EtQ&amp;libraries=places"></script>
<script type="text/javascript" src="/static/django_google_maps/js/google-maps-admin.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/util.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/geocoder.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/map.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/controls.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/places_impl.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/onion.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/stats.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.google.com/maps-api-v3/api/js/33/5/marker.js"></script>
<style>
    .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }
</style>
{% endblock %}

{% block styles %}
{{block.super}}
<!-- Google Maps -->
{{form.media}}
<link href="/static/django_google_maps/css/google-maps-admin.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container top-section">
    <div class="row">
        <div class="col-md-12 profile-head">
            <a href="">
                {% if profile.user_upic %}
                <img src="{{profile.user_upic.cdn_url}}" alt="Profile Picture" class="img-circle">
                {% else %}
                <img src="/static/img/avatah.png" alt="">
                {% endif %}
            </a>
        </div>
    </div>
</div>
<div class="container top-section">
    <div class="row profile-body">
        <div class="col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'profile' username=profile.user.username %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bio' username=profile.user.username %}">
                        {% if user.username == profile.user.username %}
                            Edit Bio
                        {% else %}
                            Bio
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'business' username=profile.user.username %}">
                        {% if user.username == profile.user.username %}
                            Add Business
                        {% else %}
                            Business
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 profile-status">
            <p>Joined {{profile.user.date_joined|timesince}} ago </p>
            {% if user.username == profile.user.username %}
                <p>Last Login: {{profile.user.last_login}} </p>
                <form action="." method="POST">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" value="Update bio">
                    </div>
                </form>
                <p>Can't find your neighbourhood?<a class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">Add Neighbourhood</a></p>
            {% else %}
                <p>Nickname: {{profile.nickname}} </p>
                <p>User bio: {{profile.user_bio}} </p>
                <p>Hood: {{profile.user_hood.name}} </p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Set up Hood</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form hood_form %}
                            <div class="form-group">
                                <input type="submit" value="Update bio">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}